.container {
  width: 100%;
  display: flex;

  gap: 48px;
  padding: 240px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 80px;
  flex-direction: column;
}
.skillsimg {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 48px;
}
.skillsimg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
