.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px;
  padding-bottom: 96px;
  justify-content: center;
  align-items: center;
}
.worktitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.work {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  align-items: start;
}
.worktext {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
}
.technology {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 8px;
}
.workimg {
  width: 35%;
  height: 500px;
  padding: 48px;
}
.workimg img {
  width: 100%;
  height: 100%;
}
.worktext p {
  color: #4b5563;
}
